@import "tailwindcss";
@plugin "daisyui";

/* @import "./view-transition.css"; */


/* Give links pointing to the current page a green color */
a[aria-current="page"] {
    /* color: green; */
}

/* Color all ancestor links of the current page */
a[aria-current="true"] {
    /* color: peachpuff; */
}